
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes slideInLeft {
            from {
                transform: translateX(-100%);
                opacity: 0;
            }
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes fadeInUp {
            from {
                transform: translateY(20px);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar .nav-link:hover {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#hero h1 {
    font-size: 4rem;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
    font-weight: 900;
}
#hero h2{
    font-size:4rem;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero h2:hover{
    color: #0059ff;
    /* text-decoration: underline; */
    transition: color 0.5s ease;
    
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  /* Classes for animation */
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }

  .slide-in-left {
    animation: slideInLeft 1.5s ease-in-out;
  }

  .fade-in-up {
    animation: fadeInUp 2s ease-in-out;
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  /* Delays */
  .delay-1 {
    animation-delay: 1s;
  }
  .delay-2 {
    animation-delay: 1s;
  }

  .jay2{
    background: #ff1e00;
    border: 0 ;
  }
  .jay1{
    background: #ff1e00;
    border: 0 ;
  }
  .kavy h2{
    background-color: #0059ff;
  }
  #about{

  }